:root {
  --primary-color: #1eb7c6;
}
.transmission-hero {
  background-image: url(/assets/transmission_1.webp);
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  /* margin-bottom: 100px; */
}
.transmission-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009688;
  opacity: 0.3;
  z-index: -1;
}
.transmission-form {
  /* background: var(--primary-color); */
  border: 1px solid var(--primary-color);
  /* padding: 20px 50px 50px 50px; */
  /* border-radius: 20px; */
  /* margin-bottom: -50px; */
}

.transmission-form .form-select,.transmission-form .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #cccdd1;
  outline: none;
  height: 100%;
  box-shadow: none;
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231eb7c6' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='m2 5 6 6 6-6'/%3e%3c/svg%3e ");
}
.transmission-form form {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.transmission-btn {
  background-color: #000;
}
.find-transmission{
  margin-top: 3rem;
}
.find-transmission h4{
  font-size: 2.5em;
  font-weight: bold;
}
.find-transmission h4 span{
  color: var(--primary-color);
}
.find-transmission .col-lg-6 .card {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border: none;
}
.find-transmission .col-lg-6 .card i {
  font-size: 24px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  color: var(--primary-color);
}
.transmission-content {
  background: url(/assets/engine.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  z-index: 1;
  position: relative;
}
.transmission-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}
.transmission-content h5 {
  font-size: 2.9em;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.transmission-para .card {
  border: none;
  box-shadow: 2px 2px 2px;
}
.transmission-para .card:hover {
  box-shadow: 5px 5px 10px;
}
.read-btn {
  color: var(--primary-color);
}

/*--------------Responsive---------------------------*/
@media (max-width: 768px) {
  .col {
    flex: auto;
    border-bottom: 1px solid var(--primary-color);
  }
  .col:last-child {
    border: none;
    margin-top: 10px;
  }
  /* .transmission-form .form-select {
    border: none;
  } */
  /* .transmission-form {
    margin-bottom: -150px;
  } */
  .find-transmission{
    margin-top: 20px;
  }
  .transmission-content h5 {
    font-size: 2em;
  }
  .transmission-form {
    padding: 15px;
  }
  /* .transmission-hero {
    margin-bottom: 170px;
    } */
}
@media (max-width: 576px){
  .transmission-hero {
    order:2;
  }
}

