:root {
  --main: #3b6cb4  ;
  --font: sans-serif;
}
.job-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.job-detail-card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 95%;
  max-height: 95vh; /* Limit the height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.job-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-detail-header h1 {
  font-size: 24px;
  margin: 0;
}
.job-header {
  position: relative;
  z-index: 1;
  height: 340px;
}
.job-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}
.job-header h1 {
  font-weight: 600;
  color: #fff;
}
.close-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: red; /* Change color on hover */
}

.loading {
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.job-detail-overlay h2 {
  margin-top: 10px;
  color: var(--main);
}

.job-detail-overlay h3 {
  margin-top: 20px;
  color: #555;
}

.job-detail-overlay ul {
  margin: 10px 0;
  padding-left: 20px;
}

.job-detail-overlay p {
  line-height: 1.6;
}

.job-detail-overlay strong {
  color: #333;
}

/*----------------------------------Job form------------------------------*/
.close-button-2 {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-button-2:hover {
  color: red; /* Change color on hover */
}
.form-card {
  padding: 0px 20px 20px;
}

.form-group {
  margin-bottom: 5px;
}
.responsive-form label {
  display: block;
  margin-bottom: 5px;
}
.responsive-form span {
  color: #f00;
}
.responsive-form input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.job-btn {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.job-btn:hover {
  background-color: #45a049;
}
/* JobDetailPage.css */
.job-form-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.job-form-content {
  width: 90%; /* Adjust width as needed */
}

/* Responsive Design */
@media (max-width: 600px) {
  .job-header {
    height: 200px;
  }
  .responsive-form {
    padding: 10px;
  }

  .job-btn {
    padding: 8px;
  }
  .job-form-desc {
    order: 2;
  }
  .job-form-col {
    order: 1;
  }
}
@media (max-width: 375px) {
  .job-header h1 {
    font-size: 1.5em;
    margin-inline: 50px;
  }
}
