.Main-pop {
  /* Slight transparency for overlay effect */
  height: 100vh;
  backdrop-filter: blur(0.7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
}
.popup {
  width: 50%; /* Responsive width */
  max-width: 800px; /* Max width for larger screens */
  background: url(/asset/popup-img.jpg);
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Soft shadow for depth */
  background-position: center;
  position: relative;
  z-index: 1;
}
.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.2;
  z-index: -1;
  border-radius: 10px;
}
.cross {
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -10px;
  margin-right: -10px;
}
.popup .row > * {
  padding-left: 0 !important;
}

.popup-form .form-control {
  border-bottom: 1px solid #000;
}
.popup-form {
  padding: 20px; /* Padding for form */
}

.popup-form h3 {
  margin-bottom: 10px;
  color: #000;
}

.popup-form p {
  margin-bottom: 20px;
}

.popup-form .form-group {
  position: relative; /* For input icon positioning */
  margin-bottom: 15px; /* Space between inputs */
}

.popup-form .input-icon {
  position: absolute;
  left: 10px;
  color: #e74860;
  color: #187a90;
}

.popup-form .form-control {
  padding-left: 35px; /* Space for icon */
  width: 100%;
  background: none;
}
.popup-form input,
textarea {
  color: #000 !important;
}
.popup-form input::placeholder,
.popup-form textarea::placeholder {
  color: #000;
}
.popup-form .form-control:focus {
  background: none;
}
.popup-form .btn {
  width: 100%; /* Full-width button */
  padding: 10px; /* Padding for button */
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #000;
}

.checkbox label {
  margin-left: 10px;
}

/*-------------------------------------Thankyou--------------------------*/
.thankyou {
  background: url(/asset/thank-you.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.sweet-circle{
  position: relative;
  border: 5px solid #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.sweet-check{
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  width: 60px;
  height: 130px;
  border: 6px solid #000;
  transform: rotate(45deg);
  animation: sweet-check 2s;
}
@keyframes sweet-check {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.thankyou h1{
  font-size: 6em;
}
.thankyou h3{
  font-size: xx-large;
}

@media (max-width: 576px) {
  .popup {
    width: 80%; /* Adjust width for smaller screens */
  }
  .thankyou h1{
    font-size: 3em;
  }
  .thankyou h3{
    font-size: 16px;
  }
  
}
