.heading-divider {
    position: relative;
}
.rounded-pill {
    border-radius: var(--bs-border-radius-pill) !important;
}
.heading-divider:after {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    height: 2px;
    width: 15px;
    border-radius: 50px;
    background-color: #ec2324 ;
    animation: heading-move 5s infinite linear;
}
  @keyframes heading-move{
   0% {
    transform: translate(-1px);
    }
    50% {
    transform: translate(70px);
    }
    100% {
    transform: translate(-1px);
    }
}