.courseSection {
  background: linear-gradient(to bottom, #1a3c6e, #113358);
  color: white;
  /* padding: 10px 0; */
}

.leftSideContent {
  color: white;
  text-align: center;
  padding: 40px;
}

.brandLogo {
  width: 50%;
  margin: 0 15px;
  transition: transform 0.3s ease-in-out;
}

.brandLogo:hover {
  transform: scale(1.1);
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  color: #fff;
}

.subTitle {
  font-size: 20px;
  margin: 20px 0;
}

.description {
  margin-bottom: 20px;
}

.ctaBox {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.countdown {
  font-size: 24px;
  margin: 10px 0;
}

.applyButton {
  background-color: #f7b733;
  border: none;
  transition: all 0.3s ease-in-out;
}

.applyButton:hover {
  background-color: #e38a20;
}

/* .rightSideForm {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
} */
.form {
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}
.topform {
  border-radius: 15px;
  padding: 10px;
  margin: 30px 60px;
  border: 2px solid #41b294;
}

.formHeading {
  color: #3b6cb4;
  font-weight: 700;
}

.formSubtext {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.submitButton {
  background: #f7b733;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.submitButton:hover {
  background: #e38a20;
}
.checkbox {
  color: black;
}
@media screen and (max-width: 570px) {
  .topform {
    margin: 10px 0px;
  }
  .courseSection .row {
    margin-left: 0px !important;
  }
}
